* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-font-color);
}

html {
    font-size: 100%;
    font-family: var(--main-title-font);
    height: 100%;
}

:root {
    --main-title-font: Josefin Sans;
    --meme-text-font: Anton;
}

input {
    width: 75%;
}

#submitButton {
    width: 20%;
}

#memeShowcase {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));
    border: 1px solid black;
}

.imgFlexContainer{
    display: flex;
    flex-direction: column;
    position: relative;
}

.memeImage{
    /* max-width: 20%;
    height: auto; */
    display: flex;
}

.imageText{
    font-family: var(--meme-text-font);
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow:
    2px 2px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}

.upperText {
    justify-content: start;
    align-self: center;
    position: absolute;
}

.lowerText{
    justify-content: end;
    align-self: center;
    position: absolute;
    bottom: 0px;
}

.deleteImage {
    opacity: .2;
}

.deleteButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lightblue;
    cursor: pointer;
    align-self: center;
    justify-content: center;
    position: absolute;
}


